  ion-card {
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 100%;
    margin: 16px;
  }
  
  ion-card:hover {
    transform: scale(1.05);
  }
  
  ion-card-title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
  }
  
  ion-card-subtitle {
    color: rgba(255, 255, 255, 0.8);
  }

  .inicio-button{
    max-width: 400px;
    width: 90%;
    margin: 32px auto;
    font-size: 1em;
  }

  /* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    ion-card-title {
      font-size: 1em;
    }
  
    ion-card {
      margin: 8px;
    }
  
    .inicio-button {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    ion-card-title {
      font-size: 0.9em;
    }
  
    .inicio-button {
      font-size: 0.8em;
    }
  }